<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="com.pritithink.FirstDemoProject.Student" name="student1">
       <property name="Stud_Id">
           <value>101</value>
       </property>
       <property name="Stud_Name">
           <value>Adam</value>
       </property>
       <property name="Stud_Address">
           <value>Delhi</value>
       </property>
   </bean>

</beans>